<footer id="footer">
    <div class="inner sidebar-footer">

        <div class="sidebar-social-grid">
            <a href="https://github.com/SaiferGit" class="social-icon github" aria-label="GitHub" title="GitHub">
                <span class="icon brands fa-github"></span>
            </a>

            <a href="mailto:munshisaifuzzaman@gmail.com" class="social-icon email" aria-label="Email" title="Email">
                <span class="icon fa-envelope"></span>
            </a>

            <a href="https://www.linkedin.com/in/munshi-saif-8b9041129/" class="social-icon linkedin" aria-label="LinkedIn" title="LinkedIn">
                <span class="icon brands fa-linkedin-in"></span>
            </a>

            <a href="https://scholar.google.com/citations?user=WmD9ejYAAAAJ&hl=en" class="social-icon scholar" aria-label="Google Scholar" title="Google Scholar">
                <span class="academicons ai ai-google-scholar"></span>
            </a>

            <a href="https://orcid.org/0000-0002-9236-5554" class="social-icon orcid" aria-label="ORCID" title="ORCID">
                <span class="academicons ai ai-orcid"></span>
            </a>

            <a href="https://www.researchgate.net/profile/Munshi-Saif" class="social-icon researchgate" aria-label="ResearchGate" title="ResearchGate">
                <span class="academicons ai ai-researchgate"></span>
            </a>
        </div>

        <div class="sidebar-separator">
            <span></span>
        </div>

        <ul class="copyright sidebar-copyright">
            <li>&copy; Munshi · July, 2026</li>
            <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>

    </div>
</footer>
