<section id="recentNews" class="timeline-section">
    <h2>Timeline</h2>

    <div class="modern-timeline">

        <div class="timeline-item">
            <span class="timeline-date">Jun 2026</span>
            <p>Our Risk Communication for Password Breach Alerts poster paper was accepted by <strong>ACM CSCW'26</strong></p>
        </div>

        <div class="timeline-item">
            <span class="timeline-date">May 2026</span>
            <p>Our attack and failure distinguishing for wearables paper was accepted by <strong>ACM CHASE'26 ARMH Workshop</strong>.</p>
        </div>

        <div class="timeline-item">
            <span class="timeline-date">Sep 2025</span>
            <p>Our privacy exposure in 5G/4G paper was selected for the <strong>Best Paper Award</strong> by IEEE DSC'25 Committee.</p>
        </div>

        <div class="timeline-item">
            <span class="timeline-date">Aug 2025</span>
            <p>Our privacy exposure in 5G/4G paper was accepted by <strong>IEEE DSC'25</strong>.</p>
        </div>

        <div class="timeline-item">
            <span class="timeline-date">Jun 2025</span>
            <p>Our carbon emission survey paper was accepted by <strong>IEEE Transactions on Sustainable Computing</strong>.</p>
        </div>

        <div id="moreTimeline" class="timeline-hidden">
            <div class="timeline-item">
                <span class="timeline-date">Apr 2024</span>
                <p>I received a full tuition waiver and GTA offer from <strong>Utah State University</strong> for the Ph.D. program.</p>
            </div>

            <div class="timeline-item">
                <span class="timeline-date">Oct 2023</span>
                <p>Promoted to <strong>Associate Software Engineer</strong> at DSi BD.</p>
            </div>

            <div class="timeline-item">
                <span class="timeline-date">May 2021</span>
                <p>Joined DSi BD as a <strong>Junior Software Engineer</strong>.</p>
            </div>
        </div>
    </div>

    <button type="button" id="toggleTimeline" class="timeline-button">See more</button>
</section>